
body {
  padding-top: 50px;
  font-family: 'Proza Libre', sans-serif;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
}

/*header*/
button {
  background-color: #aaaaaa;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

#navbar {
  height: 50px;
  background-color: #f0f0f0;
}

.navbar-brand {
  padding-top: 10px;
}
.navbar-brand h1 {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav ul {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
li {
  background-color: #e0e0e0;
  font-weight: bold; 
  border-bottom: 2px solid black;
  /*border-right: 2px solid black;
  border-left: 2px solid black;*/
}
li:nth-child(1) {
  border-top: 2px solid black; 
}
li:nth-child(3) {
  border-bottom: 2px solid black;
}

/*end of header*/

/*main content*/
.content-box {
  height: 700px;
  background-color: #999999;
  margin: 10px 0px;
  padding: 10px;
  overflow: hidden;
}

.section-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}
/* end of main content*/